<div class="logo">
  <h2>TimeTracker</h2>
</div>

<nav class="custom-nav nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: active?(root_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Time Entries', posts_path, class: active?(posts_path) %>
  </li>

  <li class="nav-item dropdown ml-md-auto">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Account</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to 'Edit Details', edit_user_registration_path, class: 'dropdown-item'%>
      <div class="dropdown-divider">
      </div>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'dropdown-item', data: {confirm: "Are you sure you want to log out?"}%>

    </div>
  </li>
</nav>
